<!DOCTYPE html>
<html>

<head>
  <title>Pedro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css" integrity="sha512-rQgMaFKZKIoTKfYInSVMH1dSM68mmPYshaohG8pK17b+guRbSiMl9dDbd3Sd96voXZeGerRIFFr2ewIiusEUgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/solid.min.css" integrity="sha512-wQ0aDa8upf/3Fun6Qby6g8uXyPqKl54VpEO/SwjjqxeUwThb6TIP5kloJ2tOHqnjLsd88S5p1VoOIXEl42mHYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- Side Navigation -->
  <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
    <h1 class="w3-xxxlarge text-dark">Redes Sociais</h1>
    <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
    <a href="https://www.instagram.com/douglasabnovato/" class="w3-bar-item w3-button"><i
        class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:30px"></i> Instagram</a>
    <a href="https://facebook.com/douglasabnovato" class="w3-bar-item w3-button"><i
        class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:30px"></i> Facebook</a>
    <a href="https://twitter.com/douglasabnovato" class="w3-bar-item w3-button"><i
        class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:30px"></i> Twitter</a>
    <a href="https://www.tumblr.com/blog/douglasabnovato" class="w3-bar-item w3-button"><i
        class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:30px"></i> Tumblr</a>
  </nav>

  <!-- Header -->
  <header class="row bg-dark text-light p-3" id="myHeader">
    <div class="col-3">
      <img src="https://opedroramos.com.br/assets/img/pedro_user_image.png" class="float-right mt-3 border border-white rounded" style="width: 50%;float:right;">
    </div>
    <div class="col-6 float-left">
      <h5 class="text-left display-6">Pedro Henrique Ramos</h5>
      <p>Software Developer</p>
    </div>
    <div class="mb-3"></div>
  </header>

  <div class="w3-row-padding w3-center w3-margin-top">

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>Javascript</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>Desordenados</p>
        <p>Site que demonstra graficamente algoritmos de ordenação</p>
        <a href="https://opedroramos.com.br/desordenados/home.html" target="_blank" class="w3-bar-item w3-button"><i
            class="fa fa-code w3-margin-bottom text-dark" style="font-size:15px"></i>Desordenados</a>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>Python</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>AED</p>
        <p>Um repositório de estudo de AED</p>
        <a href="https://github.com/PedroHRamos/ComputerScience" target="_blank" class="w3-bar-item w3-button"><i
          class="fab fa-github w3-margin-bottom text-dark" style="font-size:15px"></i> Github</a>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>AngularJs</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>Clima</p>
        <p>Um site simples que retorna informações meteorológicas</p>
        <a href="https://opedroramos.com.br/clima" target="_blank" class="w3-bar-item w3-button"><i
            class="fab fa-angular w3-margin-bottom text-dark" style="font-size:15px"></i> Clima</a>
      </div>
    </div>
    <!-- 
            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:480px">
                    <h3>React.js</h3><br>
                    <i class="fa fa-desktop w3-margin-bottom text-dark" style="font-size:120px"></i>
                    <p>Built-in responsiveness</p>
                    <p>Mobile first fluid grid</p>
                    <a href="https://github.com/douglasabnovato" target="_blank"  class="w3-bar-item w3-button"><i class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:15px"></i> Site Estático Reactjs</a>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-data" style="min-height:465px">
                    <h3>Node.js</h3><br>
                    <i class="fa fa-database w3-margin-bottom text-dark" style="font-size:120px"></i>
                    <p>Standard CSS only</p>
                    <p>Easy to learn</p>
                    <a href="https://github.com/douglasabnovato" target="_blank"  class="w3-bar-item w3-button"><i class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:15px"></i> Register</a>
                </div>
            </div>

            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:480px">
                    <h3>SQLite | MongoDB</h3><br>
                    <i class="fa fa-table w3-margin-bottom text-dark" style="font-size:120px"></i>
                    <p>Paper like design</p>
                    <p>Bold colors and shadows</p>
                    <a href="https://github.com/douglasabnovato" target="_blank"  class="w3-bar-item w3-button"><i class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:15px"></i> Posts</a>
                </div>
            </div> 
                          
            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:480px">
                    <h3>Git | Github</h3><br>
                    <i class="fa fa-git w3-margin-bottom text-dark" style="font-size:120px"></i>
                    <p>Built-in responsiveness</p>
                    <p>Mobile first fluid grid</p>
                    <a href="https://github.com/douglasabnovato" target="_blank"  class="w3-bar-item w3-button"><i class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:15px"></i> Animated Login Form</a>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:480px">
                    <h3>Deploy</h3><br>
                    <i class="fa fa-server w3-margin-bottom text-dark" style="font-size:120px"></i>
                    <p>Standard CSS only</p>
                    <p>Easy to learn</p>
                    <a href="https://github.com/douglasabnovato" target="_blank" class="w3-bar-item w3-button"><i class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:15px"></i> Signature Card Block Generator</a>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card w3-container" style="min-height:480px">
                    <h3>Wireframe</h3><br>
                    <i class="fa fa-street-view w3-margin-bottom text-dark" style="font-size:120px"></i>
                    <p>Paper like design</p>
                    <p>Bold colors and shadows</p>
                    <a href="https://github.com/douglasabnovato" target="_blank"  class="w3-bar-item w3-button"><i class="fa fa-css3 w3-margin-bottom text-dark" style="font-size:15px"></i> Vender Imóveis</a>
                </div>
            </div>        
        </div>
         -->
  </div>
  <footer class="w3-container bg-dark w3-padding-16 text-white">
    <div>
      <p>Powered by @moose_pramos <a href="https://www.linkedin.com/in/pedro-henrique-ramos-ti/" target="_blank"> <i
            class="fa fa-linkedin" aria-hidden="true" style="font-size:12px"> . </i></a></p>
    </div>
    <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    </div>

  </footer>

</body>

</html>