<div>
  <div class="w3-row-padding w3-center w3-margin-top container pt-5">

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:370px">
        <h3>Javascript</h3><br>
        <img src="https://opedroramos.com/assets/img/js_transparente.png" alt="JS">
        <p>Unsorted</p>
        <p>In this project I show how sort methotds works in a graphic way.</p>
        <a href="https://opedroramos.com/desordenados/home.html" target="_blank" class="btn btn-primary"><i
            class="fa-brands fa-js-square w3-margin-bottom text-light" style="font-size:15px"></i> Unsorted</a>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:370px">
        <h3>Python</h3><br>
        <img src="https://opedroramos.com/assets/img/python.png" alt="python">
        <p>Computer Science</p>
        <p>In this repository I will study some computer science problems.</p>
        <a href="https://github.com/PedroHRamos/ComputerScience" target="_blank" class="btn btn-primary"><i
            class="fab fa-github w3-margin-bottom text-light" style="font-size:15px"></i> Github</a>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:370px">
        <h3>AngularJs</h3><br>
        <img src="https://opedroramos.com/assets/img/angular.png" alt="angular">
        <p>Climate</p>
        <p>In this site I show some data about the climate on your city.</p>
        <a routerLink="/clima" class="btn btn-primary"><i class="fab fa-angular w3-margin-bottom text-light"
            style="font-size:15px"></i> Clima</a>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-row-padding w3-center w3-margin-top container">

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:370px">
        <h3>AngularJS</h3><br>
        <img src="https://opedroramos.com/assets/img/angular.png" alt="angular">
        <p>Memory Game</p>
        <p>A little memory game just for fun.</p>
        <a routerLink="/memory" class="btn btn-primary"><i class="fab fa-github w3-margin-bottom text-light"
            style="font-size:15px"></i> Memory Game</a>
      </div>
    </div>


    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:370px">
        <h3>AngularJS</h3><br>
        <img src="https://opedroramos.com/assets/img/angular.png" alt="angular">
        <p>Precificador</p>
        <p>Calculate the price of some product or service.</p>
        <a routerLink="/calculador" class="btn btn-primary"><i class="fab fa-angular w3-margin-bottom text-light"
            style="font-size:15px"></i> Precificador</a>
      </div>
    </div>

  </div>
  <br>

</div>