<!-- Side Navigation -->
  <!-- Header -->
  <app-cabecalho></app-cabecalho>

  <div class="w3-row-padding w3-center w3-margin-top">

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>Javascript</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>Unsorted</p>
        <p>In this project I show how sort methotds works in a graphic way.</p>
        <a href="https://opedroramos.com.br/desordenados/home.html" target="_blank" class="btn btn-dark"><i
            class="fa fa-code w3-margin-bottom text-light" style="font-size:15px"></i>Unsorted</a>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>Python</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>Computer Science/p>
        <p>In this repository I will study some computer science problems.</p>
        <a href="https://github.com/PedroHRamos/ComputerScience" target="_blank" class="btn btn-dark"><i
          class="fab fa-github w3-margin-bottom text-light" style="font-size:15px"></i> Github</a>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>AngularJs</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>Climate</p>
        <p>In this site I show some data about the climate.</p>
        <a routerLink="/clima" class="btn btn-dark"><i
            class="fab fa-angular w3-margin-bottom text-light" style="font-size:15px"></i> Clima</a>
      </div>
    </div>
   
  </div>

  <div class="w3-row-padding w3-center w3-margin-top">

    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:480px">
        <h3>AngularJS</h3><br>
        <i class="fa fa-code w3-margin-bottom text-dark" style="font-size:120px"></i>
        <p>Memory Game</p>
        <p>A little memory game just for fun.</p>
        <a routerLink="/memory" class="btn btn-dark"><i
          class="fab fa-angular w3-margin-bottom text-light" style="font-size:15px"></i> Memory Game</a>
      </div>
    </div>
  </div>
  <footer class="w3-container bg-dark w3-padding-16 text-white">
    <div>
      <p>Powered by @opedrohramos <a href="https://www.linkedin.com/in/pedro-henrique-ramos-ti/" target="_blank"> <i
            class="fa fa-linkedin" aria-hidden="true" style="font-size:12px"> . </i></a></p>
    </div>
  </footer>