<div class="bg-light text-dark p-5 ">

    <div class="row">
        <div class="col-md-2 col-0 mt-4"></div>
        <div class="col-md-2 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/xp.png">
        </div>
        <div class="col-md-2 col-8 mt-4">
            <b>XP Inc</b> <br>
            Software Engineer II <br>
            Jul 2023 - Now <br>
        </div>
        
        <div class="col-md-2 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/sinqia.png">
        </div>
        <div class="col-md-4 col-8 mt-4">
            <b>Sinqia S.A.</b> <br>
            Mid-level Software Developer - Dez 2022 - Jun 2023<br>
            Junior Software Developer - Jun 2021 - Nov 2022<br>
        </div>
    </div>

    <br><hr>

    <div class="row">
        <div class="col-md-2 col-0 mt-4"></div>
        <div class="col-md-2 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/localiza.png">
        </div>
        <div class="col-md-2 col-8 mt-4">
            <b>Localiza S.A.</b> <br>
            Software Developer Assistant <br>
            Mar 2021 - May 2021 <br>
        </div>

        <div class="col-md-2 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/sinqia.png">
        </div>
        <div class="col-md-4 col-8 mt-4">
            <b>Sinqia S.A.</b> <br>
            Junior Software Developer - Ago 2020 - Feb 2021<br>
            Trainee Software Developer - Ago 2019 - Jul 2020<br>
        </div>
    </div>

    <br><hr>

    <div class="row">
        <div class="col-md-2 col-0 mt-4"></div>
        <div class="col-md-2 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/vipcom.png">
        </div>
        <div class="col-md-2 col-8 mt-4">
            <b>Vipcom</b> <br>
            Trainee Software Developer <br>
            Mar 2019 - Jul 2019 <br>
        </div>
        
        
    </div>

</div>