<div class="hard-skills bg-light m-5">

    <div class="container">
        <p>Back-end</p>
        <div class="barras">
            <div class="skills back-end bg-dark">90%</div>
        </div>
    </div>
    <div class="container">
        <p>Web Development</p>
        <div class="barras">
            <div class="skills web-development bg-dark">80%</div>
        </div>
    </div>
    <div class="container">
        <p>.NET Core</p>
        <div class="barras">
            <div class="skills net-core bg-dark">75%</div>
        </div>
    </div>

</div>