<div class="hard-skills bg-dark text-light p-5">

    <div class="container">
        <p>Back-end</p>
        <div class="barras">
            <div class="skills back-end bg-light">90%</div>
        </div>
    </div>
    <div class="container mt-4">
        <p>.NET</p>
        <div class="barras">
            <div class="skills net-core bg-light">85%</div>
        </div>
    </div>
    <div class="container mt-4">
        <p>Web Development</p>
        <div class="barras">
            <div class="skills web-development bg-light">80%</div>
        </div>
    </div>
    

</div>