<div class="bg-light text-dark p-5">

    <div>
        <div class="row">
            <div class="col-md-2 col-4 mt-4"></div>
            <div class="col-md-2 col-1 left">
                <h3>About me</h3>
            </div>
            <div class="col-md-8 col-7"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-1"></div>
                    <div class="col-md-11 col-11">
                    <p>Hi,</p>
            
                    <p>I'm Pedro, a back-end software engineer. I have worked in this field since 2020. Including experience with C# .NET, VB .NET, creating features that aggregates more value to client and business, and reducing risks. I have expirience with development to financial systems, banks, brokers, wire transfers and brazillian receivables. </p>
            
                    <p>I am hard-working, collaborative and a passionate to solve complex problems. I look for a company that have a fast-paced and collaborative environment and I know that I have the skills, experience and attitude to aggregate more value to the company and grow with it. </p>
                </div>
                
            </div>
        </div>
    </div> 
    <br>
    <hr>
    <br>
    <div>
        <div class="row">
            <div class="col-md-2 col-4 mt-4"></div>
            <div class="col-md-2 col-1 left">
                <h3>Work Experience</h3>
            </div>
            <div class="col-md-8 col-7"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-4 right mt-4">
                <img src="https://www.opedroramos.com/assets/img/xp.png">
            </div>
            <div class="col-md-3 col-8 mt-4">
                <b>XP Inc</b> <br>
                Software Engineer II <br>
                Jul 2023 - Now <br>
            </div>
            <div class="col-md-6 mt-4">
                <p>In XP Inc. I work on Offshore Investments product, with APIs C# .NET, creating features with scalability, security, quality. Aways trying to aggregate more value to users, product and company. I also do maintenance some weeks, beeing responsible to looking alerts, logs and fixing some error if exists.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-4 right mt-4">
                <img src="https://www.opedroramos.com/assets/img/sinqia.png">
            </div>
            <div class="col-md-3 col-8 mt-4">
                <b>Sinqia S.A.</b> <br>
                Mid-level Software engineer - Dez 2022 - Jun 2023<br>
                Junior Software engineer - Jun 2021 - Nov 2022<br>
                Junior Software engineer - Ago 2020 - Feb 2021<br>
                Trainee Software engineer - Ago 2019 - Jul 2020<br>
            </div>
            <div class="col-md-6 mt-4">
                <p>At Sinqia I worked on receivables manager system, a solution to manage receivables on brazillian banks, I created and fixed features on REST APIs, WebServices SOAP, batch routines and web-sites on .NET. I Trained new squad employes, contributed to better documentation and dissemination of knowledge. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-4 right mt-4">
                <img src="https://www.opedroramos.com/assets/img/localiza.png">
            </div>
            <div class="col-md-3 col-8 mt-4">
                <b>Localiza S.A.</b> <br>
                Software Engineer Assistant <br>
                Mar 2021 - May 2021 <br>
            </div>
            <div class="col-md-6 mt-4">
                <p>At Localiza I worked on reliability management as a assistant, doing maintenance on corporate systems.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-4 right mt-4">
                <img src="https://www.opedroramos.com/assets/img/vipcom.png">
            </div>
            <div class="col-md-3 col-8 mt-4">
                <b>Vipcom Sistemas</b> <br>
                Trainee Software Developer <br>
                Mar 2019 - Jul 2019 <br>
            </div>
            <div class="col-md-6 mt-4">
                <p>At Vipcom Sistemas I develop and fixed error on PHP systems. Also I did maintenance on hosts, fix settings and site deploys.</p>
            </div>
        </div>

    </div>
    <br>
    <hr>
    <br>
    <div>
        <div class="row">
            <div class="col-md-2 col-4 mt-4"></div>
            <div class="col-md-2 col-1 left">
                <h3>Education</h3>
            </div>
            <div class="col-md-8 col-7"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/una.png">
        </div>
        <div class="col-md-9 col-8 mt-4">
            <b>Centro Universitário UNA</b> <br>
            Bacharelado em Sistemas de Informação <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-4 right mt-4">
            <img src="https://www.opedroramos.com/assets/img/cefet.png">
        </div>
        <div class="col-md-9 col-8 mt-4">
            <b>Centro Federal de Educação Tecnológica de Minas Gerais</b> <br>
            Técnico em Informática <br>
        </div>
    </div>

</div>